<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>Giỏ hàng</h4>
			<div class="site-pagination">
				<a href="">Trang chủ</a> /
				<a href="">Giỏ hàng</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->


	<!-- cart section end -->
	<section class="cart-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="cart-table">
						<h3>Giỏ hàng</h3>
						<div class="cart-table-warp">
							<table>
							<thead>
								<tr>
									<th class="product-th">Sản phẩm</th>
									<th class="quy-th">Số lượng</th>
									<th class="size-th">Đơn giá</th>
									<th class="total-th">Giá</th>
								</tr>
							</thead>
							<tbody>
								{{#each products}}
								<tr class="_js-product">
									<td class="product-col">
										<img src="/image/{{this.Image}}" alt="">
										<div class="pc-title">
											<h4>{{this.Name}}</h4>
											
										</div>
									</td>
									<td class="quy-col">
										<div class="quantity _js-product-quantity">
					                        {{this.Quantity}}
                    					</div>
									</td>
									<td class="size-col"><h4 class="_js-product-price">{{this.Price}}</h4></td>
									<td class="total-col"><h4 class="_js-product-total"></h4></td>
								</tr>
								{{/each}}
							</tbody>
						</table>
						</div>
						<div class="total-cost">
							<h6>Tổng tiền <span id="total-money">99.90</span> đồng</h6>
						</div>
						<script>
							let cartProducts = [];
							function getTotal() {
								let total = 0;
								document.querySelectorAll('._js-product').forEach(element => {
									let quan = element.querySelector('._js-product-quantity').innerHTML;
									let price = element.querySelector('._js-product-price').innerHTML;
									element.querySelector('._js-product-total').innerHTML = quan*price;
									total += quan*price;
								});
								document.getElementById('total-money').innerHTML = total;
							}
							getTotal();
						</script>
					</div>
				</div>
				<div class="col-lg-4 card-right">
					{{!-- <form class="promo-code-form">
						<input type="text" placeholder="Enter promo code">
						<button>Submit</button>
					</form> --}}
					<a href='/checkout' class="site-btn">Thanh toán</a>
					<a href="" class="site-btn sb-dark">Tiếp tục mua sắm</a>
				</div>
			</div>
		</div>
	</section>
	<!-- cart section end -->

	<!-- Related product section -->
	<section class="related-product-section">
		<div class="container">
			<div class="section-title text-uppercase">
				<h2>Tiếp tục mua sắm</h2>
			</div>
			<script>
				function addToCart(id) {
					const reqOptions = {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({
							id: id,
							amount: 1
						})
					};
					fetch('/add-to-cart', reqOptions).then(
						res => res.text()
					).then(
						data => {
							if (data == 'ok') {
								let cartCnt = document.getElementById('cart-cnt');
								cartCnt.innerHTML = parseInt(cartCnt.innerHTML) + 1;
							}
						}
					);
				}
			</script>

			<div class="row">
				{{#each similars}}
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="/image/{{this.Image}}" alt="">
							<div class="pi-links">
								<a style="cursor: pointer" onclick="addToCart('{{this._id}}')" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>{{this.Price}}</h6>
							<p>{{this.Name}} </p>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</section>
	<!-- Related product section end -->
