
	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="bg-images/1.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>Điểm đến mới</span>
							<h2>the shirt shack</h2>
							<p>Mang đến cho khách hàng trải nghiệm thú vị và cam kết đảm bảo chất lượng.  </p>
							<a href="#" class="site-btn sb-white">THÊM VÀO GIỎ HÀNG</a>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="bg-images/2.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>Điểm đến mới</span>
							<h2>the shirt shack</h2>
							<p>Mang đến cho khách hàng trải nghiệm thú vị và cam kết đảm bảo chất lượng. </p>
							<a href="#" class="site-btn sb-white">THÊM VÀO GIỎ HÀNG</a>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="bg-images/3.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>Điểm đến mới</span>
							<h2>the shirt shack</h2>
							<p>Mang đến cho khách hàng trải nghiệm thú vị và cam kết đảm bảo chất lượng. </p>
							<a href="#" class="site-btn sb-white">THÊM VÀO GIỎ HÀNG</a>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="bg-images/4.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>Điểm đến mới</span>
							<h2>the shirt shack</h2>
							<p>Mang đến cho khách hàng trải nghiệm thú vị và cam kết đảm bảo chất lượng. </p>
							<a href="#" class="site-btn sb-white">THÊM VÀO GIỎ HÀNG</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

	<!-- letest product section -->
	<section class="top-letest-product-section">
		<div class="container">
			<div class="section-title">
				<h2>SẢN PHẨM MỚI NHẤT</h2>
			</div>
			<div class="product-slider owl-carousel">
				<div class="product-item">
					<div class="pi-pic">
						<img src="./shirts/shirt-1.jpg" alt="">
						<div class="pi-links">
							<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>$35,00</h6>
						<p>BestDad in the Galaxy</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- letest product section end -->



	<!-- Product filter section -->
	<section class="product-filter-section">
		<div class="container">
			<div class="section-title">
				<h2>GIỚI THIỆU SẢN PHẨM</h2>
			</div>
			<script>
				function addToCart(id) {
					const reqOptions = {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({
							id: id,
							amount: 1
						})
					};
					fetch('/add-to-cart', reqOptions).then(
						res => res.text()
					).then(
						data => {
							if (data == 'ok') {
								let cartCnt = document.getElementById('cart-cnt');
								cartCnt.innerHTML = parseInt(cartCnt.innerHTML) + 1;
							}
						}
					);
				}
			</script>
			<div class="row">
				{{#each products}}
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<a href="/product/{{this._id}}"><img src="/image/{{this.Image}}" alt=""></a>
							<div class="pi-links">
								<a style="cursor: pointer" onclick="addToCart('{{this._id}}')" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>{{this.Price}}</h6>
							<p>{{this.Name}} </p>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
			<div class="text-center pt-5">
				<button class="site-btn sb-line sb-dark">Tìm hiểu thêm</button>
			</div>
		</div>
	</section>
	<!-- Product filter section end -->


	<!-- Banner section -->
	<section class="banner-section">
		<div class="container">
			<div class="banner set-bg" data-setbg="img/banner-bg.jpg">
				<div class="tag-new">MỚI</div>
				<span>Điểm đến mới</span>
				<h2>ÁO SƠ MI</h2>
				<a href="#" class="site-btn">MUA SẮM NGAY</a>
			</div>
		</div>
	</section>
	<!-- Banner section end  -->



