 <div id="wrapper">
 {{> header}}
	<div id="page-wrapper">
        <div class="col-sm-12 col-md-12 text-center">
                <h2>Danh sách sản phẩm</h2>
        </div>
	    <div class="bs-example1" data-example-id="contextual-table">
		    <table class="table">
		      <thead>
		        <tr>
		          <th>STT</th>
                  <th>Tên sản phẩm</th>
                  <th>Hình ảnh</th>
                  <th>Mô tả</th>
                  <th>Số lượng</th>
                  <th>Giá</th>
                  <th colspan="3" style="text-align: center;">Thao tác</th>
		        </tr>
		      </thead>
		      <tbody>
				{{#each products}}
		        <tr class="active">
		          <th scope="row">{{inc @index}}</th>
		          <td>{{this.Name}}</td>
		          <td><img src="/image/{{this.Image}}" alt="khong co hinh anh" style="width: 8rem"></td>
                  <td>{{this.Describe}}</td>
		          <td>{{this.Quantity}}</td>
		          <td>{{this.Price}}</td>
				  <td><a href='/products/{{this._id}}/edit-product' style="background-color: #ef553a !important; border: #ef553a;" class="btn-primary btn">Sửa</a></td>
				  <td><a href="" class="btn-danger btn" data-id={{this._id}} onclick="return xoa(this.getAttribute('data-id'))">Xóa</a></td>
		        </tr>
				{{/each}}
		      </tbody>
		    </table>
		</div>
		<script>
			function xoa(id){
				let del = confirm('Bạn có muốn xóa sản phẩm này không?');

				if (del) {
					fetch('/products/' + id, {method: 'DELETE'}).then(
						res => window.location.href = "/list-product"
					)
				}

				return false;
			}
		</script>
      <!-- /#page-wrapper -->
    {{> footer}}
    </div>
</div>